$caret-up: "\f0d8";
$caret-down: "\f0d7";
$caret-left: "\f0d9";
$caret-right: "\f0da";
.collapsible {
    display: inline-grid;
    grid-template-columns: auto 20px;
}
.collapsible .content {
    display: inline-block;
    flex-basis: auto;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    /*transition: width 1s;*/
}
.collapsible .handle {
    flex-basis: 20px;
    border-left: 5px solid var(--primary);
}
.collapsible[data-collapse=true] .content {
    width: 0px;
}
i.fa {
    width: 20px;
    height: 30px;
    position: relative;
    top: calc(50% - 15px);
    line-height: 30px;
    border-radius: 0 15px 15px 0;
    text-align: center;
    right: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    background-color: var(--primary);
    color: black;
}
/*
.Collapsible {
    display: flex;
    overflow: hidden;
    flex-grow: 1;
    flex-basis: 20px;
    &[data-collapse=true] {
        flex-grow: 0;
    }
    .content {
        flex-basis: 0px;
        flex-grow: 1;
    }
    .handle {
        flex-basis: 20px;
        border: 5px none black;
        i {
            cursor: pointer;
            display: inline-block;
            font-size: 20px;
            background-color: black;
            color: white;
        }
    }
    &%vertical {
        .content {
            width: 100%;
        }
        .handle {
            height: 20px;
            width: 100%;
            i {
                width: 30px;
                height: 15px;
            }
        }
    }
    &%horizontal {
        .content {
            height: 100%;
        }
        .handle {
            height: 100%;
            width: 20px;
            i {
                width: 15px;
                height: 30px;
                position: relative;
                top: calc(50% - 15px);
                line-height: 30px;
                border-radius: 0 15px 15px 0;
                text-align: left;
                right: 2px;
            }
        }
    }
    &[data-side=bottom] {
        flex-direction: column;
        @extend %vertical;
        .handle {
            border-top: solid;
            i {
               border-radius: 0 0 15px 15px;
               vertical-align: text-top;
               &::after {
                   content: $caret-up;
               }
           }
        }
        &[data-collapse=true] .handle i::after {
            content: $caret-down;
        }
    }
    &[data-side=up] {
        flex-direction: column-reverse;
        @extend %vertical;
        .handle {
            border-bottom: solid;
            i {
               border-radius: 0 0 15px 15px;
               vertical-align: text-bottom;
               &::after {
                   content: $caret-down;
               }
           }
        }
        &[data-collapse=true] .handle i::after {
            content: $caret-up;
        }
    }
    &[data-side=left] {
        flex-direction: row-reverse;
        @extend %horizontal;
        .handle {
            border-right: solid;
            i {
               border-radius: 15px 0 0 15px;
               text-align: right;
               &::after {
                   content: $caret-right;
               }
           }
        }
        &[data-collapse=true] .handle i::after {
            content: $caret-left;
        }
    }
    &[data-side=right] {
        flex-direction: row;
        @extend %horizontal;
        .handle {
            border-left: solid;
            i {
               border-radius: 0 15px 15px 0;
               text-align: left;
               &::after {
                   content: $caret-left;
               }
           }
        }
        &[data-collapse=true] .handle i::after {
            content: $caret-right;
        }
    }    
}
*/