#page {
    display: grid;
    overflow: hidden;
    width: 100%;
    grid-template-columns: auto 1fr;
    grid-template-rows: var(--topbar-height) calc(100% - var(--topbar-height));
    grid-template-areas: 
        "topbar topbar"
        "sidebar body";

}
#menu {
    height: calc(100vh - var(--topbar-height));
    background-color: var(--dark);
    color: var(--light);
}
#topbar {
    position: fixed;
    grid-area: topbar;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 20px;
    background-color: var(--dark);
    color: var(--light);
    width: 100%;
    height: var(--topbar-height);
    border-bottom: 2px solid var(--primary);
}
.App-logo {
    height: calc(var(--topbar-height) - 2px);
}
#body {
    grid-area: body;
    position: relative;
    width: 100%;
    display: flex;
    padding: 20px 40px 0 25px;
    overflow-x: hidden;
    overflow-y: auto;
}
#sidebar {
    grid-area: sidebar;
    overflow-x: hidden;
    overflow-y: auto;
}