#entityBox{
    mark{
        background-color: inherit;
    }
    .entity_name{
        animation: colorBackground 2s infinite alternate;
        background-color: rgb(255, 128, 64);
    }

    .entity_buslinie{
        animation: colorBackground 2s infinite alternate;
        background-color: rgb(175, 244, 250);
    }

    .entity_datum{
        animation: colorBackground 2s infinite alternate;
        background-color: rgb(205, 192, 207);
    }

    .entity_haltestelle{
        animation: colorBackground 2s infinite alternate;
        background-color: rgb(204, 137, 245);
    }

    .entity_preis{
        animation: colorBackground 2s infinite alternate;
        background-color: rgb(245, 255, 138);
    }
}

@keyframes colorBackground {
    0% {
        background-color: #fff;
    }
    50% {
    }
    100% {
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#antwortGenerierung{
    .entity_name{
        color: black;
        background-color: rgb(255, 128, 64);
    }

    .entity_buslinie{
        color: black;
        background-color: rgb(175, 244, 250);
    }

    .entity_datum{
        color: black;
        background-color: rgb(205, 192, 207);
    }

    .entity_haltestelle{
        color: black;
        background-color: rgb(204, 137, 245);
    }

    .entity_preis{
        color: black;
        background-color: rgb(245, 255, 138);
    }
    .generierteAntwort{
        animation: fadeIn 2s infinite alternate;
        color: black;
        opacity: 0;
    }
}