.Table {
    .Sticky{
        position: sticky;
        top : 0;
        background-color: #22977A;
    }
    table {
        width: 100%;
        text-align: left;
        border: none;
        thead tr {
            background-color: #333333;
        }
        tr {
            cursor: pointer;
            td, th {
                padding: 20px 10px;
            }
            background-color: #555555;
            &:nth-of-type(even) {
                background-color: #333333;
            }
        }
    }
}