.button {
    background-color: lightskyblue;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
}

#fileArea1{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.lineLabel{
    background-color: red;
}

.dateLabel{
    background-color: green;
}