@import '../variables';

.autocomplete {
    .input {
        display: inline-flex;
        flex-direction: column;
        input {
            width: 100%;
        }
    }
    .predictions {
        @extend %inputs;
        display: flex;
        flex-direction: column;
        border-top: none;
        width: 100%;
        & > input {
            margin: 0;
            border: none;
            cursor: pointer;
            &:hover, &.active {
                background-color: $lightgrey;
            };
            &.active {
                color: $primary;
            }
        }
    }
}