@import '../variables';

.autocomplete {
    position: relative;
    display: inline-block;
    flex-grow: 1;

    label {
        font-family: inherit;
        white-space: nowrap;
        position: absolute;
        top: 5px;
        left: 24px;
        z-index: 1;
        font-size: 14px;
        line-height: 14px;
        font-weight: bold;
        &::before {
            content: '';
            top: 5px;
            left: -4px;
            width: calc(100% + 8px);
            display: block;
            height: 1px;
            position: relative;
            background-color: $white;
            box-sizing: content-box;
            z-index: -2;
        }
    }
    .input {
        display: inline-flex;
        flex-direction: column;
        input {
            width: 100%;
        }
    }

    .predictions {
        @extend %inputs;
        display: flex;
        flex-direction: column;
        border-top: none;
        width: 100%;
        & > input {
            margin: 0;
            border: none;
            cursor: pointer;
            &:hover, &.active {
                background-color: $lightgrey;
            };
            &.active {
                color: $primary;
            }

        }
    }
}