@import '../variables';

.collapsible {
    position: relative;
    overflow: hidden;
    height: 30px;
    min-height: 30px;
    .handle {
        position: relative;
        display: block;
        line-height: 15px;
        width: 100%;
        height: 15px;
        cursor: pointer;
        color: $primaryTextColor;
        font-size: 15px;      
        //padding: 10px 0;
        z-index: 1;
        &::before {
            position: relative;
            display: block;
            content: '';
            top: 7px;
            border-top: 1px solid $tertiaryBackgroundColor;
        }
        i {
            position: relative;
            padding: 0 5px 0 10px;
            margin-left: 10px;
            background-color: $primaryBackgroundColor;
        }
        span {
            position: relative;
            padding-right: 10px;
            background-color: $primaryBackgroundColor;
        }
    }
    &[data-collapse=true] {
        & + * {
            display: none;
        }
    }
}