@import '../variables';

.deep-array {
    display: flex;
    align-items: center;
    background-color: $primaryBackgroundColor;
    padding: 0.625em;

    & + .deep-array {
        margin-top: 0.3125em;
    }

    textarea:hover {
        background-color: $secondaryBackgroundColor;
    }

    & > div, & > input {
        width: 100%;
    }

    & > i {
        cursor: pointer;
    }

    & > i:hover{
        color: red;
    }
}

.deep-object {
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-height: 100%;
    max-width: 30em;
    .array-items {
        overflow: auto;
    }
    .deep-array{
        border: 0.0625em solid $black;
        border-radius: 0.625em;
        background-color: $secondaryBackgroundColor;
        margin: 0.3125em 0.625em;
    }
    & + .deep-object {
        margin-top: 0.3125em;
    }

    & > div, & > input {
        width: 100%;
    }

    & > strong {
        padding: 0 0.3125em;
        text-align: center;
    }

    & > i {
        cursor: pointer;
        width: 1.875em;
        height: 1.875em;
        line-height: 1.875em;
        border-radius: 50%;
        margin: 0.3125em auto 0;
        text-align: center;
        background-color: rgba($primary, 0.8);

        &:hover {
            background-color: rgba($primary, 1);
        }
    }
}

.object{
    overflow: hidden;
    .input{
        width: 100%;
    }
}

div.content.margin.config.max-width{
    padding: 1.25em 0em;
}

.config{
    padding: 1.25em 0em;
    overflow-y: auto;
}

.xml{
    text-align: left;
    
    .object{
        border: 0.0625em solid $black;
        border-radius: 0.625em;
        margin: 0.625em;
        padding: 0.625em;
    }
    .input{
        padding: 0em;
        width: 100%;
    }
    .CodeMirror-gutters{
        background-color: $primaryBackgroundColor;
    }
}