.entity_name{
    background-color: rgb(255, 128, 64);
}

.entity_buslinie{
    background-color: rgb(175, 244, 250);
}

.entity_datum{
    background-color: rgb(205, 192, 207);
}

.entity_haltestelle{
    background-color: rgb(204, 137, 245);
}

.entity_preis{
    background-color: rgb(245, 255, 138);
}