@import '../variables';


.Filter {
    min-height: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transform: translateY(-100%);
    &::before {
        content: 'Filter';
        box-shadow: 0 0.375em rgba(0, 0, 0, 0.22);
        font-size: 1em;
        position: absolute;
        z-index: 9999;
        background-color: #179c7d;
        color: white;
        border-radius: 0 0 0.625em 0.625em;
        padding: 0.125em 3.125em 0.3125em;
        vertical-align: inherit;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 100%);
    }
    &:hover, &:focus-within {
        transform: translateY(0%);
        transition: transform 0.20s ease-out;
        &::before {
            bottom: 0;
        }
    }
    @media only screen and (min-width: 75em) {
        &.responsive {
            transform: none;
            position: relative;
            &::before {
                display: none;
            }
        }
    }
    .Block {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        margin: 0.625em 0.9375em;

    }
    Select.relation {
        background-color: $primaryBackgroundColor;
        color: white;
    }
    input, select, option {
        color: black;

    }
    .remove {
        &::after {
            display: block;
            content: 'X';
        }
    }
    .relation > .remove {
        position: absolute;
        top: -0.3125em;
        right: -0.3125em;
    }
    .clause {
        flex-wrap: nowrap;
    }
    .sort,.relation {
        flex-direction: column;
    }
}