@import '../variables';


.Filter {
    min-height: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transform: translateY(-100%);
    &::before {
        content: 'Filter';
        box-shadow: 0 6px rgba(0, 0, 0, 0.22);
        font-size: 1em;
        position: absolute;
        z-index: 9999;
        background-color: #179c7d;
        color: white;
        border-radius: 0 0 10px 10px;
        padding: 2px 50px 5px;
        vertical-align: inherit;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 100%);
    }
    &:hover {
        transform: translateY(0%);
        transition: transform 0.20s ease-out;
        &::before {
            bottom: 0;
        }
    }
    @media only screen and (min-width: 1200px) {
        transform: none;
        position: relative;
        &::before {
            display: none;
        }
    }
    .Block {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        margin: 10px 15px;

    }
    Select.relation {
        background-color: $primaryBackgroundColor;
        color: white;
    }
    input, select, option {
        color: black;

    }
    .remove {
        &::after {
            display: block;
            content: 'X';
        }
    }
    .relation > .remove {
        position: absolute;
        top: -5px;
        right: -5px;
    }
    .clause {
        flex-wrap: nowrap;
    }
    .sort,.relation {
        flex-direction: column;
    }
}