input.FileInput {
    display: none;
}
label.FileInput {
    height: 3.75rem;
    line-height: 3.75rem;
    min-width: 3.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #202124;
    border: 0.0625rem solid #202124;
    border-radius: 0.625rem;
    cursor: pointer;
    i {
        display: block;
        font-size: 1.8rem;
        padding: 0;
    }
    span {
        line-height: 100%;
        i {
            display: inline;
            font-size: inherit;
            margin-left: 0.2rem;
        }
    }
    &::before {
        display: none;
    }
}
.drag {
    .input.file {
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 999;
    }
    label.FileInput {
        height: 100%;
        i {
            font-size: 5.625rem;
            line-height: 8.75rem;
            &::after {
                @extend %font;
                content: 'Lassen Sie die Datei hier los';
                display: block;
                font-size: 1.875rem;
                line-height: 3.75rem;
                width: 80%;
                white-space: initial;
                margin: auto;
                letter-spacing: 0rem;
                font-weight: bold;
            }
        }
        &:hover {
            border-color: $primary;
            i {
                color: $primary;
                &::after {
                    color: $primary;
                }
            }
        }
    }
}