.Form {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 2px;
    border-radius: 5px;
    height: 0;
    width: 0;
    overflow: hidden;
    &::before {
        content: 'Filter';
        box-shadow: 0 6px rgba(0, 0, 0, 0.22);
        font-size: 1em;
        position: absolute;
        z-index: 9999;
        background-color: #179c7d;
        color: white;
        border-radius: 0 0 10px 10px;
        padding: 2px 50px 5px;
        vertical-align: inherit;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .input {
        position: absolute;
        top: 0;
        transform: translateY(-100%);
        transition: none;
    }
    &:hover {
        border: solid 1px rgba(0,0,0,0.1);
        height: auto;
        width: auto;
        overflow: visible;
        &:before {
            display: none;
        }
        .input {
            position: relative;
            transform: translateY(0%);
            transition: transform 0.20s ease-out;
        }
    }
}
