@import '../variables';

.hasModal {
    cursor: pointer !important;
}

.scrollableText {
    position: relative;
    height: 60%;
    font-size: 1em;
    font-family: Arial;
    padding: 0.3125em;
    overflow: scroll;
    letter-spacing: 0.03125em;
    line-height: 1.375em;
    div {
        position: absolute;
        left: 0.3125em;
        top: 0.3125em;
        &:first-child {
            user-select: none;
            span:nth-child(even) {
                margin-bottom: -0.1875em;
                padding-bottom: 0.0625em;
                border-bottom: 0.125em solid var(--color);
            }
        }
        &:nth-child(2) {
            user-select: none;
            span:nth-child(even) {
                margin: -0.1875em;
                padding: 0.0625em;
                border: 0.125em solid var(--color);
            }
        }
    }
}
.entitytextbox {
    resize: none;
    width: 50%;
    height: 1.5625em;
    font-size: 1em;
    padding: 0.125em;
    margin-right: 0.3125em;
    font-family: Arial;
    border: 0.0625em solid $grey;
}

.addEntity-table {
    margin: 0.625em;
    width: calc(100%);
    overflow: auto;
    table {
        // margin: 0em auto;
        position: relative;
        width: 100%;
        border-spacing: 0em;
    }
    th {
        font-size: large;
        padding: 0.0625em;
        text-align: left;
        padding-left:10px;
        padding-right:10px;
    }
    td {
        font-size: 'medium';
        padding: 0.0625em;
        text-align: left;
        padding-left:10px;
        padding-right:10px;
    }
}

.modal {
    z-index: 99999;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    .background {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0.4;
        background-color: black;
    }
    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        border: 0.0625em solid $primaryTextColor;
        padding: 1.875em;
        transform: translate3d(-50%, -50%, 0);
        background-color: $primaryBackgroundColor;
        width: 80%;
        height: 80%;
    }
    .editModal {
        position: absolute;
        top: 50%;
        left: 50%;
        border: 0.0625em solid $primaryTextColor;
        padding: 1.875em;
        transform: translate3d(-50%, -50%, 0);
        background-color: $primaryBackgroundColor;
        height: 8.75em;
        
    }
    .modal-button {
        position: absolute;
        top: 0;
        right: 0;
    }
    display: none;
    &.show {
        display: block;
    }
}
