@import '../variables';

.tabbed {
    position: relative;
    display: grid;
    grid-row-gap: -1px;
    grid-template-columns: auto;
    grid-template-rows: 2em 1fr;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    background-color: inherit;
    .content > & {
        height: 100%;
    }
    & > .tab {
        grid-row: 1 / 2;
        margin: 0em;
        cursor: pointer;
        &.disabled {
            cursor: not-allowed;
        }
        white-space: nowrap;
        text-align: center;
        &.active, &:hover:not(.disabled) {
            border-bottom: 2px solid $primary;
        }
    }
    & > .tab.active + .content {
        display: block;
    }
    & > .content {
        grid-column-start: 1;
        grid-column-end: var(--tabCount);
        grid-row: 2 / 3;
        padding: 1.3em var(--contentMargin) 0em var(--contentMargin);
        overflow: auto;
        display: none;
        padding-top: 5px;
    }
}
