@import '../variables';

/* 
*   CSS für ein einzelnes Template
**/

.Template h2, .Template .h2{
    font-size: 1.5em;
    font-weight: bold;
    margin: 0em 0em 0.375em 0em;
    width: 100%;
}

.Template{
    float: left;
    margin: 1%;
    padding: 2%;
    width: 48%;
    border-radius: 0.3125em;
    overflow: hidden;
    background-color: $primaryBackgroundColor;
}

.Template:hover {
    background-color: $secondaryBackgroundColor;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.Template  .id{
    margin: 0em;
}

.Template .floatRight p {
    margin: 0.5em 0em 0.125em 0em;
}

/* 
*   CSS für die Template-Seite
**/

.row.flex-row.height{
    height: 9.375em;
}