@import '../variables';

/* 
*   CSS für ein einzelnes Template
**/

.Template h2, .Template .h2{
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px 0px 6px 0px;
    width: 100%;
}

.Template{
    float: left;
    margin: 1%;
    padding: 2%;
    width: 48%;
    border-radius: 5px;
    overflow: hidden;
    background-color: $primaryBackgroundColor;
}

.Template:hover {
    background-color: $secondaryBackgroundColor;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.Template  .id{
    margin: 0px;
}

.Template .floatRight p {
    margin: 8px 0px 2px 0px;
}

/* 
*   CSS für die Template-Seite
**/

.row.flex-row.height{
    height: 150px;
}