@import '../../assets/scss/variables';
#button {
  background-color: white;
  color: black;
  width:100%;
  white-space: normal;
  text-align: left;
}
pre {
  padding: 1.25em;

}
#responses {
  background-color: var(--tertiaryBackgroundColor);
}
.response {
  background-color: var(--primaryBackgroundColor);
  border: 0.0625em solid grey;
  margin: 1.25em 0;
  position: relative;
  border-radius: 0.625em;
  .content {
    margin: 0.3125em 1.5625em;
    display: block;
    .tagged-text {
      display: block;
      margin: 0;
    }
  }
}
.response {
  .add, .remove {
    cursor: pointer;
  }
}
.remove {
  position: absolute;
  top: 0.125em;
  right: 0.125em;
  width: 1.25em;
  height: 1.25em;
  color: (#1F82BF); //hab es mit der Sekundärfarbe laut CI-Finalisierung ausgetauscht
  text-align: center;
}
.add {
  position: absolute;
  bottom: 0em;
  right: 0.125em;
  width: 1.25em;
  height: 1.25em;
  color: $primary;
  text-align: center;
}

#responseText {
  display: block;
  border: none;
  //border: 0.0625em solid grey;
  resize: none;
  width: calc(100% - #{$standardmarginleft} - #{$standardmarginright});
  height: calc(100% - #{$standardmargintop} - #{$standardmarginbottom} - 2.8125em);
  min-height: 3.125em;
  font-size: 1em;
  //margin: 1.875em;
  margin-top: 0.625em;
}
input[type=button] {
  margin: auto;
  display: block;
}
.part {
  margin: 0.625em 0 0 0;
  pointer-events: none;
  color: grey;
  text-align: center;
  &::before, &::after {
    content: ' - ';
    display: inline;
  }
}
