@import '../variables';

.hasTooltip {
    cursor: help;
    &:hover {
        text-decoration: underline;
    }
}
.tooltip {
    z-index: 99999;
    position: absolute;
    border: 1px solid $black;
    padding: 10px 20px;
    background-color: #fff;
    &.top {
        transform: translate3d(-50%, -100%, 0);
    }
    &.bottom {
        transform: translate3d(-50%, 0, 0);
    }
    display: none;
    &.show {
        display: block;
    }
}