* {
    overflow: auto;
}

.Topbar-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer{
    background-color: grey;
}

.body {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}