@import '../../assets/scss/variables';

.Filter {
    .Block {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        margin: 5px 15px;
        
    }
    Select.relation {
        background-color: $primary;
        color: white;
    }
    input, select, option {
        color: black;
    }
    .remove {
        position: absolute;
        top: 0;
        right: 0;
        &::after {
            display: block;
            content: 'X';
        }
    }
    .clause {
        flex-wrap: nowrap;
    }
}