%font {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
h1, .h1 {
    @extend %font;
    font-size: 2em;
}
h2, .h2 {
    @extend %font;
    font-size: 1.3em;
}
h3, .h3 {
    @extend %font;
    font-size: 1.1em;
}
h4, .h4 {
    @extend %font;
    font-size: 1em;
}
h5, .h5 {
    @extend %font;
    font-size: 1em;
}
h6, .h6 {
    @extend %font;
    font-size: 1em;
}
p, .p {
    @extend %font;
    font-size: 1em;
}
a, .a {
    @extend %font;
}
label, .label {
    @extend %font;
}