.entity_name{
    background-color: rgb(255, 128, 64);
}

.entity_buslinie{
    background-color: rgb(175, 244, 250);
}

.entity_datum{
    background-color: rgb(205, 192, 207);
}

.entity_haltestelle{
    background-color: rgb(204, 137, 245);
}

.entity_preis{
    background-color: rgb(245, 255, 138);
}   
.introduction_box{
    padding:20px;
    border: solid 2px grey;
    box-shadow: 10px 10px 15px silver;
    border-radius: 20px;
    margin: 30px;
    width: 80%;
 img{
    border: solid 2px lightgreen;
    box-shadow: 10px 10px 15px silver;
    border-radius: 10px;
    width:60%;
 }
}
.example{
    width:80%;
    text-align: justify;
}