.spotlight {
    width: 100%;
    height: 20vw;
    margin-bottom: 5%;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 50%;
}

.introduction_image {
    border: solid 4px lightgreen;
    box-shadow: 10px 10px 15px silver;
    border-radius: 20px;
    width: 100%;
    margin-top: 5%;
}

.team {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#bottomMenu{
}li{
   img{
     width: 100%;
     margin: 0 1%;
   }
 }


