@import 'variables';
@import 'fonts';

$inputMargin: 1% 2% 1% 1%;
$inputBorderColor: $secondaryBackgroundColor $secondaryBackgroundColor $tertiaryBackgroundColor $secondaryBackgroundColor;
$inputBorder: 2px solid;

%standardSize{
    width: 10em;
    height: 2em;
}

%inputs {
    @extend %font;
}

.input {
    @extend %font;
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    flex-grow: 1;
    label {
        font-family: inherit;
        white-space: nowrap;
        position: absolute;
        top: 5px;
        left: 24px;
        z-index: 1;
        font-size: 14px;
        line-height: 14px;
        font-weight: bold;
        &::before {
            content: '';
            top: 5px;
            left: -4px;
            width: calc(100% + 8px);
            display: block;
            height: 1px;
            position: relative;
            background-color: $white;
            box-sizing: content-box;
            z-index: -2;
        }
    }
    input, textarea, select {
        font-family: inherit;
        position: relative;
        background-color: $white;
        color: $primaryTextColor;
        border: 1px solid $black;
        border-radius: 10px;
        left: 0;
        padding: 10px 14px;
        height: 40px;
        width: 100%;
        min-width: 75px;
        outline: none;
        &:focus {
            border-color: $primary;
        }
    }

    input[type=submit], input[type=button], button {
        max-width: 200px;
        background-color: $primaryAccentColor;
        color: $white;
        box-shadow: 0 7px $grey;
        border: none;


        &:hover {
            background-color: $primaryAccentColorActive;
        }
        &:active {
            background-color: $primaryAccentColorActive;
            box-shadow: 0 4px $dimgray;
            transform: translateY(2px);
        }
    }

    select {
        padding-left: 10px; /* chrome + ff add aditional padding to selects -.- */

    }
    &.inline {
        margin: 0;
        input, textarea, select {
            width: auto;
        }
    }
}

 ///*
 //*   Buttons
 //**/
 //
 //input[type=submit], input[type=button], button {
 //    @extend %inputs;
 //    @extend %standardSize;
 //    background-color: $buttonColor;
 //    display: block;
 //    cursor: pointer;
 //    &[disabled] {
 //        cursor: not-allowed;
 //    }
 //}
 //
 //input[type=submit]:hover, input[type=button]:hover, button:hover {
 //    background-color: $buttonColorHover;
 //}
 //
 //input[type=submit].important, input[type=button].important, button.important {
 //    background-color: $secondaryAccentColor;
 //    border-color: $primaryTextColor;
 //    color: $inverseTextColor;
 //    font-weight: bold;
 //}
 //
 //input[type=submit].important:hover, input[type=button].important:hover, button.important:hover {
 //    background-color: $secondaryAccentColorActive;
 //}
 //
 ///*
 //*   Inputfelder (mit Text)
 //**/
 //
 //input[type=text], input[type=date], input[type=number] {
 //    @extend %font;
 //    @extend %inputs;
 //    @extend %standardSize;
 //    padding-left: 5px;
 //    margin: $inputMargin;
 //}
 //
 ///*
 //*   Textareas
 //**/
 //
 //textarea {
 //    @extend %inputs;
 //    @extend %font;
 //    width: 100%;
 //    height: 150px;
 //    .visible {
 //        padding-left: 5px;
 //    }
 //}
 //
 ///*
 //*   Checkboxen
 //**/
 //
 //input[type="checkbox"] {
 //    @extend %inputs;
 //    width: 2em;
 //    height: 2em;
 //    display: block;
 //    margin-left: auto;
 //    margin-right: auto;
 //}
 //
 //input[type="checkbox"] + label::before {
 //    @extend %inputs;
 //    display: block;
 //    content: "";
 //    float: left;
 //    margin-right: 5px;
 //}
 //
 //input[type="checkbox"]:checked+label::before {
 //    box-shadow: inset 0px 0px 0px 3px #fff;
 //    background-color: #8cad2d;
 //}

