@import 'variables';
@import 'fonts';

$inputMargin: 1% 2% 1% 1%;
$inputBorderColor: $secondaryBackgroundColor $secondaryBackgroundColor $tertiaryBackgroundColor $secondaryBackgroundColor;
$inputBorder: 2px solid;

%standardSize {
  width: 10em;
  height: 2em;
}

%inputs {
  @extend %font;
}

.input {
  @extend %font;
  position: relative;
  display: inline-block;
  padding: 10px 10px;
  flex-grow: 1;
  %labelSize {
    font-family: inherit;
    white-space: nowrap;
    padding: 0 5px;
    font-size: 1em !important;
    letter-spacing: 1px;
    font-weight: bold;
  }
  label {
    @extend %labelSize;
    position: absolute;
    top: 5px;
    background-color: $white;
    color: $black !important;
    border-radius: 10px;
    left: 18px;
    z-index: 1;
    line-height: 14px;

    // &::before {
    //   content: '';
    //   top: 5px;
    //   left: -4px;
    //   width: calc(100% + 8px);
    //   display: block;
    //   height: 1px;
    //   position: relative;
    //   background-color: $white;
    //   box-sizing: content-box;
    //   z-index: -2;
    // }
  }
  .labelspacer {
      @extend %labelSize;
      position: relative;
      left: 8px;
      height: 0px;
      width: max-content;
      display: block;
      overflow: hidden;
  }
  input, textarea, select, select[multiple] {
    font-family: inherit;
    background-color: $white;
    color: $primaryTextColor;
    border: 1px solid $black;
    border-radius: 10px;
    padding: 10px 14px;
    height: 45px;
    width: 100%;
    min-width: 75px;
    left: 0;
    font-size: 1em;
    outline: none;

    &:focus {
      border-color: $primary;
    }

    &[type=checkbox], &[type=colorpicker] {
      min-width: 40px;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      font-size: 30px;
      padding: 0;
      border: none !important;
      -webkit-appearance: none;

      &::after {
        content: '';
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: block;
        background-color: inherit;
        color: inherit;
        border: 1px solid $black;
        border-radius: 10px;
      }

      &:hover::after {
        filter: brightness(110%);
      }

      &:checked::after {
        content: '\2713'

      }
    }

    &[type=colorpicker] {
      font-size: 9px;
      font-family: monospace;
      cursor: pointer;
      user-select: none;
    }
  }
  &.select.multiple{
    height: 60px;
    &:focus-within {
      z-index: 10;
    }
  }
  select[multiple]:focus {
    height: auto;
    option:hover{
        background-color: rgba($primary, 0.5);
    }
  }


  input[type=submit], input[type=button], button {
    max-width: 200px;
    background-color: $primaryAccentColor;
    color: $white;
    box-shadow: 0 6px $grey;
    border: none;

    &:hover {
      background-color: $primaryAccentColorActive;
    }

    &:active {
      background-color: $primaryAccentColorActive;
      box-shadow: 0 4px $dimgray;
      transform: translateY(2px);
    }
  }

  select {
    padding-left: 10px; /* chrome + ff add aditional padding to selects -.- */

  }

  &.inline {
    margin: 0;

    input, textarea, select {
      width: auto;
    }
  }
}

* export-button {
  color: $primaryAccentColor;
}

[disabled], [disabled]:hover {
  color: $grey;
  cursor: not-allowed;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  border-left: solid 1px $white;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  margin: 5px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
}

button.action-button{
  background-color: #179c7d;
  color: #fff;
  box-shadow: 0 6px rgba(0, 0, 0, 0.22);
  border: none;
  font-family: inherit;
  border-radius: 10px;
  padding: 10px 14px;
  height: 45px;
  min-width: 75px;
  left: 0;
  font-size: 1em;
  outline: none;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 14px;
  white-space: nowrap;
  
  &:hover {
    color: #fff;
    background-color: $primaryAccentColorActive;
  }

  &:active {
    background-color: $primaryAccentColorActive;
    box-shadow: 0 4px $dimgray;
    transform: translateY(2px);
  }
  i {

  }
}

i.action-button{

}
///*
//*   Buttons
//**/
//
//input[type=submit], input[type=button], button {
//    @extend %inputs;
//    @extend %standardSize;
//    background-color: $buttonColor;
//    display: block;
//    cursor: pointer;
//    &[disabled] {
//        cursor: not-allowed;
//    }
//}
//
//input[type=submit]:hover, input[type=button]:hover, button:hover {
//    background-color: $buttonColorHover;
//}
//
//input[type=submit].important, input[type=button].important, button.important {
//    background-color: $secondaryAccentColor;
//    border-color: $primaryTextColor;
//    color: $inverseTextColor;
//    font-weight: bold;
//}
//
//input[type=submit].important:hover, input[type=button].important:hover, button.important:hover {
//    background-color: $secondaryAccentColorActive;
//}
//
///*
//*   Inputfelder (mit Text)
//**/
//
//input[type=text], input[type=date], input[type=number] {
//    @extend %font;
//    @extend %inputs;
//    @extend %standardSize;
//    padding-left: 5px;
//    margin: $inputMargin;
//}
//
///*
//*   Textareas
//**/
//
//textarea {
//    @extend %inputs;
//    @extend %font;
//    width: 100%;
//    height: 150px;
//    .visible {
//        padding-left: 5px;
//    }
//}
//
///*
//*   Checkboxen
//**/
//
//input[type="checkbox"] {
//    @extend %inputs;
//    width: 2em;
//    height: 2em;
//    display: block;
//    margin-left: auto;
//    margin-right: auto;
//}
//
//input[type="checkbox"] + label::before {
//    @extend %inputs;
//    display: block;
//    content: "";
//    float: left;
//    margin-right: 5px;
//}
//
//input[type="checkbox"]:checked+label::before {
//    box-shadow: inset 0px 0px 0px 3px #fff;
//    background-color: #8cad2d;
//}

