nav {
    position: relative;
    width: 12rem;
    border-radius: 0rem 0.625rem 0.625rem 0rem;
    margin: 1.25rem 1.25rem 1.25rem 0;
    box-shadow: 0.625rem 1.25rem 2.5rem rgba(0, 0, 0, 0.3);
    background: $white;
    overflow-y: hidden;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;

    #logo {
        padding: 0.625rem 0.625rem 1.25rem 0.625rem;
    }

    .scrollable{
        overflow: auto;
        box-shadow: 0 0.625rem 1.25rem -1.25rem black, 0 -0.625rem 1.25rem -1.25rem;
        background: $white;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    #bottomMenu{
    //width: 100%;
        a{
            margin-top: 7%;
        }
        .input{
            padding: 0;
            margin: 0 auto 7% auto;
            //display: table;
        }
    }

    > ul {
        //list-style: none;
        margin: 0rem;
        padding: 1.25rem 4% 0.9375rem 4%;
        //box-shadow: 0 0.625rem 1.25rem -1.25rem black, 0 -0.625rem 1.25rem -1.25rem ;

        li > a {
            display: block;
            padding: 0.625rem 0rem 0.625rem 10%;
            margin: 0 0.3125rem 5%;
            color: black;
            background: rgba($dimgray, 0.2);
            border-radius: 0.3125rem;
            overflow-x: hidden;

            transition: all 0.15s ease-out;

            &:hover {
                border-radius: 0.3125rem;
                background: rgba($primaryAccentColorActive, 0.6);
                box-shadow: 0 0.25rem $primaryAccentColor;
            }


            &:active, &.active, &:focus {
                color: $white;
                background-color: $primaryAccentColor;
                transform: scale(1.1, 1.1);
                box-shadow: 0 0.1875rem $dimgray;
            }
        }

        li img{
            width: 90%;
        }

        li.image{
            width: 100%;

            > a{
                background: #fff;
                padding-left: 2%;
                padding-bottom: 2%;
                > img {
                    width: 90%;
                }
            }
        }
    }
}
}