html, body, #root {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: $black;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:focus {
    outline: none;
}

ul {
    padding: inherit;
}

a {
    text-decoration: none;
    color: $secondary;
}
