html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
* {
    box-sizing: border-box;
}
#root {
    display: flex;
    height: 100%;
    overflow: hidden;
    justify-content: space-between;
    margin-right: 0.5%;
    & > .Block {
        flex-grow: 1;
        flex-basis: 0;
        margin: 0.625rem 1.25rem;
    }
    & > .menu {
        flex-grow: 0;
        margin: 0.625rem 1.25rem 0 0;
    }
}

#Import {
    &.file textarea {
        display: none;
    }
    &.text input[type=file] {
        display: none;
    }
}