body {
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-smooth: always;
    margin: 0;
    padding: 0;
}



.app-outer {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    padding: 1.25rem 0;
    position: absolute;
    right: 0;
    top: 0;
    margin-left: 20%;
    margin-right: 5%;
}

.app-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

}
.button input[type="button"] {
    padding:8px;
    background-color:rgba(255,204,0,1);
    border-radius:10px;
    cursor:pointer;
    width:260px;
}
.tag-cloud {
    abbr {
        display: inline-block;
        width: auto !important;
        text-decoration: none;
        cursor: help;
        &:hover {
            background-color: grey;
        }
    }
}

.tag-cloud > div {
    transition: 1.4s;
}

.tag-item-wrapper {
    cursor: pointer;
}

.tag-item-wrapper:hover {
    z-index: 100;
}

.tag-item-wrapper:hover .tag-item-tooltip {
    display: block;
}

.tag-item-tooltip {
    background: #c01916;
    color: white;
    margin-top: 0.3125rem;
    z-index: 100;
    display: none;
    padding: 0.9375rem;
    font-size: 0.875rem;
    line-height: 1;
    position: absolute;
    min-width: 3.75rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

