$c0: #f9f9f9;
$c1: #f4f4f4;
$c2: #ececec;
$c3: #dddddd;
$c4: #b9b9b9;
$c5: #9a9a9a;
$c6: #717171;
$c7: #5d5d5d;
$c8: #3f3f3f;
$c9: #1e1e1e;
$black: #121212;
$dark: #1e1e1e;
$light: #a4a4a4;
$white: #e1e1e1;
$primary: #22977A;
$primary-light: #4fc4a2;
$primary-dark: #006448;
$secondary: #00932a;
$secondary-light: #50c558;
$secondary-dark: #006400;

