/* Diese Farben nicht benutzen
**/
$black: #202124;
$white: #fff;
$lightgrey: #eaeaea;
$grey: #c7c7c7;
$primary: #179c7d;
$dimgray: dimgray;
$secondary: rgb(31, 130, 191);

/*Benutzt diese Farben!
**/
$primaryTextColor: #202124;
$secondaryTextColor: #4f4f4f;
$inverseTextColor: white;
/* Die Primaere Akzentfarbe ist das Fraunhofer-Gruen */
$primaryAccentColor: #179c7d;
$primaryAccentColorActive: rgb(66, 194, 164);
$primaryAccentColorDimed: #9bd3cb;
/* Die Sekundaere Akzentfarbe stammt von der Fraunhofer-Website, ein gedecktes Blau */
$secondaryAccentColor: rgb(31, 130, 191);
$secondaryAccentColorActive: rgb(9, 101, 158);
$buttonColor: #F3F3F3;
$buttonColorHover: #E5E5E5;
$primaryBackgroundColor: #FFFFFF;
$secondaryBackgroundColor: #F3F3F3;
$tertiaryBackgroundColor: #E5E5E5;
$thirdAccentColor: #9c1727;
$fourthAccentColor: #4a179c;
$fifthAccentColor: #9c7417;


$standardpadding: 5%;
$standardpaddingtop: $standardpadding;
$standardpaddingright: $standardpadding;
$standardpaddingbottom: $standardpadding;
$standardpaddingleft: $standardpadding;

$smallmargin: 1%;

$contentMargin: 1rem;

$standardmargin: 5%;
$standardmargintop: 0%;
$standardmarginright: $standardmargin;
$standardmarginbottom: $standardmargin / 2;
$standardmarginleft: $standardmargin;

.black {
    color: $black;
}
.white {
    color: $white;
}

.lightgrey {
    color: $lightgrey;
}
.grey {
    color: $grey;
}
.primary {
    color: $primary;
}
.secondary {
    color: $secondary;
}

.primaryTextColor {color: $primaryTextColor;}
.secondaryTextColor {color: $secondaryTextColor;}
.inverseTextColor {color: $inverseTextColor}
.primaryBackgroundColor {color: $primaryBackgroundColor;}
.secondaryBackgroundColor { color: $secondaryBackgroundColor;}
.tertiaryBackgroundColor { color: $tertiaryBackgroundColor;}
.primaryAccentColor {color: $primaryAccentColor}
.primaryAccentColorActive {color: $primaryAccentColorActive}
.secondaryAccentColor {color: $secondaryAccentColor}
.secondaryAccentColorActive {color: $secondaryAccentColorActive}
.buttonColor {color: $buttonColor}
.buttonColorHover {color: $buttonColorHover}
.thirdAccentColor { color: $thirdAccentColor}
.fourthAccentColor {color: $fourthAccentColor}
.fifthAccentColor {color: $fifthAccentColor}

