.Topbar-logo{
    display: block;
    margin-left: 0;

}

.footer{
    background-color: grey;
    height: 25%;
}

.body {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.iatPartner {
    float: right;
}
