@import '_variables';
@import '_helpers';
@import '_structure';
@import 'font-awesome/fontawesome';
@import "font-awesome/solid";
@import "_style";
@import "_images";
@import "_table";


* {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/** Die dem Body zugewiesene Klasse (light oder dark) entscheidet über das
*   Aussehen der Website, light oder dark mode. Er sollte standardmaessig
*   die Klasse colorPalette zugewiesen haben.
*/
/* Diese Farben werden im "Dark-Theme" verwendet */
.dark {
    --primaryTextColor: white;
    --secondaryTextColor: #B3B3B3;
    --inverseTextColor: black;
    /* Die Primaere Akzentfarbe ist das Fraunhofer-Gruen */
    --primaryAccentColor: #179c7d;
    --primaryAccentColorActive: rgb(66, 194, 164);
    /* Die Sekundaere Akzentfarbe stammt von der Fraunhofer-Website, ein gedecktes Blau */
    --secondaryAccentColor: rgb(31, 130, 191);
    --secondaryAccentColorActive: rgb(63, 167, 231);
    --buttonColor: #1A1A1A;
    --buttonColorHover: rgb(38, 38, 38);
    --primaryBackgroundColor: rgb(38, 38, 38);
    --secondaryBackgroundColor: #1A1A1A;
    --tertiaryBackgroundColor: #0D0D0D;
}
/* Diese Farben werden im "Light-Theme" verwendet */
.light {
    $primaryTextColor: black;
    --secondaryTextColor: #272727;
    --inverseTextColor: white;
    /* Die Primaere Akzentfarbe ist das Fraunhofer-Gruen */
    --primaryAccentColor: #179c7d;
    --primaryAccentColorActive: rgb(66, 194, 164);
    /* Die Sekundaere Akzentfarbe stammt von der Fraunhofer-Website, ein gedecktes Blau */
    --secondaryAccentColor: rgb(31, 130, 191);
    --secondaryAccentColorActive: rgb(9, 101, 158);
    --buttonColor: #F3F3F3;
    --buttonColorHover: #E5E5E5;
    --primaryBackgroundColor: #FFFFFF;
    --secondaryBackgroundColor: #F3F3F3;
    --tertiaryBackgroundColor: #E5E5E5;
}
/** Diese Farben stammen aus dem Fraunhofer CI-Guide und
*   finden vielleicht bei der Textmarkierung verwendung.
*/
.colorPalette {
    --lighterBlue: rgb(212, 230, 244);
    --lightBlue: rgb(136, 188, 226);
    --mediumBlue: rgb(31, 130, 192);
    --darkBlue: rgb(0, 90, 148);
    --darkerBlue: rgb(0, 52, 107);

    --lighterViolet: rgb(199, 193, 222);
    --lightViolet: rgb(144, 133, 186);
    --mediumViolet: rgb(57, 55, 139);
    --darkViolet: rgb(41, 40, 106);
    --mediumRed: rgb(226, 0, 26);
    --darkRed: rgb(158, 28, 34);
    --darkerRed: rgb(119, 28, 44);
    --lighterOrange: rgb(254, 234, 201);
    --lightOrange: rgb(251, 203, 140);
    --mediumOrange: rgb(242, 148, 0);
    --darkOrange: rgb(235, 106, 10);
    --lighterYellow: rgb(255, 250, 209);
    --lightYellow: rgb(255, 243, 129);
    --mediumYellow: rgb(255, 220, 0);
    --darkYellow: rgb(216, 166, 1);
    --lighterGreen: rgb(238, 239, 177);
    --lightGreen: rgb(209, 221, 130);
    --mediumGreen: rgb(177, 200, 0);
    --darkGreen: rgb(143, 164, 2);
    --darkerGreen: rgb(106, 115, 65);
    --lighterTurquoise: rgb(180, 220, 211);
    --lightTurquoise: rgb(109, 191, 169);
    --mediumTurquoise: rgb(0, 148, 117);
    --Frostee: rgb(215, 225, 201);
    --Putty: rgb(203, 175, 115);
    --brownBramble: rgb(70, 41, 21);
    --eastBay: rgb(76, 99, 111);
    --Scooter: rgb(51, 184, 202);
    --summerSky: rgb(37, 186, 226);
    --Cerulean: rgb(0, 110, 146);
    --hitGrey: rgb(168, 175, 175);
}
#root {
    background-color: var(--tertiaryBackgroundColor);
    --contentMargin: 1rem;
}
/**
*   Text allgemein sollte in einer div.content stehen, damit die Lesbarkeit garantiert wird.
*   Ausnahme dabei sind Labels (h6) und ggf. Tab-Titel (h5). Tatsaechlich als Ueberschrift
*   verwendet koennen also nur h1 - h3.
*/
div.content{
    background-color: var(--primaryBackgroundColor);
    //padding:  1.3rem var(--contentMargin) 0rem var(--contentMargin);
    overflow: auto;
}


p {
    color: var(--primaryTextColor);
    margin: 0.3rem 0.3rem 0.3rem 0rem;
    max-width: 30rem; //ungefähr 60 Zeichen pro Zeile
}
.small {
    font-size: 0.85rem
}
.tiny {
    font-size: 0.7rem
}
/* 'normale' Buttons, ohne besondere Prioritaet */
button {
    width: 10rem;
    height: 2rem;
    font-size: 1rem;
    background-color: var(--buttonColor);
    color: var(--primaryTextColor);
    outline: none;
}
button:hover {
    background-color: var(--buttonColorHover);
}
/* Buttons, die fuer den Programmablauf unablaesslich sind*/
button.important {
    background-color: var(--secondaryAccentColor);
    border-color: var(--primaryTextColor);
    color: var(--inverseTextColor);
    font-weight: bold;
}
button.important:hover {
    background-color: var(--secondaryAccentColorActive);
}
/* Auf diese Art koennen erkannte Daten im Text markiert werden */
span.highlight {
    background-color: var(--mediumYellow);
    padding: .05rem .2rem .05rem .2rem;
    border-radius: .3rem;
}
/* Die Textarea ermoeglicht das direkte bearbeiten von Text */
textarea {
    width: 100%;
    padding: 0rem;
    font-size: 1rem;
    margin: 0.5rem 0;
    border: none;
    box-sizing: border-box;
    color: var(--primaryTextColor);
    background-color: var(--primaryBackgroundColor);
}
textarea:focus {
    outline: none;
}
.complaintSummary {
    background-color: var(--primaryBackgroundColor);
    padding:  0.5rem var(--contentMargin) 1rem var(--contentMargin);
}
.complaintSummary:hover {
    background-color: var(--secondaryBackgroundColor);
}
.complaintSummary p {
    height: 2.3rem;
    overflow: hidden;
    clear: both;
    padding-top: 0;
    text-align: justify;
}
.complaintSummary .title{
    margin: 0rem;
    width: 80%;
    float: left;
}
.complaintSummary h3 {
    margin: 0rem;
}
.complaintSummary .date {
    float: left;
    width: 20%;
    margin: 0rem;
}
.complaintSummary .date p {
    height: 1rem;
    text-align: right;
    padding-top: 0;
    margin: 0;
}
/* Dieser Schatten umgibt groessere Fenster */
.shadow {
    box-shadow: 1.25rem 1.25rem 2.5rem rgba(0, 0, 0, 0.3);
    background-color: var(--secondaryBackgroundColor);
}

.logo {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

