@import 'variables';
@import 'reset';
@import 'font-awesome/fontawesome';
@import "font-awesome/solid";
@import "font-awesome/regular";
@import 'icons';
@import 'fonts';
@import 'lists';
@import 'inputs';
@import 'helpers';
@import 'd3';
@import 'nav';
@import 'components/select';
@import 'components/colorpicker';
@import 'components/fileinput';
@import 'components/templates';
@import 'components/toggle';
@import 'components/collapsible';
@import 'components/filter';
@import 'components/pagination';
@import 'components/tabbed';
@import 'components/tag';
@import 'components/listTable';
@import 'components/autocomplete';
@import 'components/modal';
@import 'components/_errorPopup.scss';
@import 'components/tooltip';
@import 'components/form';
@import 'components/TextBuilder';
@import 'components/deepObject';
@import 'components/notifications';
@import "table";

@each $dpr in (1, 1.1, 1.25, 1.50, 1.75, 2) {
    @media (resolution: #{$dpr}dppx){
        html {
            font-size: #{100% / $dpr};
        }
    }
}

#root {
    display: flex;
    overflow: hidden;
    background: $lightgrey;
}

.centerColumn{
    max-width: 30rem;
    padding: 1rem;
    margin: auto;
}

.Block {
    overflow: auto;
    width: 100%;
    border-right: 0.0625rem solid $grey;
    margin: 1.25rem;
    box-shadow: 1.25rem 1.25rem 2.5rem rgba(0, 0, 0, 0.3);
    border-radius: 0.625rem;
    background: $white;

    &:last-of-type {
        border-right: none;
    }
}
.builderBlock{
    overflow: auto;
    width: 100%;
    flex-grow: 0;
    flex-basis: 100%;
    border-right: 0.0625rem solid $grey;
    margin: 1.25rem;
    box-shadow: 1.25rem 1.25rem 2.5rem rgba(0, 0, 0, 0.3);
    border-radius: 0.625rem;
    background: $white;
    display: grid;
    grid-template-columns: fit-content(50%) fit-content(50%);
    place-content: center;
    &:last-of-type {
        border-right: none;
    }
}

.content {
    position: relative;
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
}
.grid {
    padding: 0.9375rem 0.625rem;
}
.row {
    height: 100%;
    width: 100%;

    &.flex-column {
        overflow-y: auto;
        & > .content {
            max-height: fit-content;
        }
        &.fit {
            height: auto;
            width: max-content;
        }
        & > * {
            padding: 1.25rem 1.25rem 0;
        }
    }

    &.flex-row {
        overflow-x: auto;
        justify-content: space-between;
        & > .content {
            max-width: fit-content;
        }
        &.fit {
            width: auto;
            height: max-content;
        }
    }
    &.content{
        padding: 0;
    }
    & > .flex-row {
        width: auto;
        height: fit-content;
    }
    & > .flex-column {
        height: auto;
        width: fit-content;
    }

}

.input-symbol-euro {
    position: relative;
}

.input-symbol-euro:after {
    position: absolute;
    top: 0;
    content: "€";
    right: 1.125rem;
}

.complaintSummary {
    background-color: var(--primaryBackgroundColor);
    padding: 0.5rem 1.875rem 1rem 1.875rem;
    color: $black;

    &:hover {
        background-color: $lightgrey;
    }

    p {
        height: 2.3rem;
        overflow: hidden;
        clear: both;
        padding-top: 0;
        text-align: justify;
    }

    .title {
        margin: 0rem;
        width: 80%;
        float: left;
    }

    h3 {
        margin: 0rem;
    }

    .date {
        float: left;
        width: 20%;
        margin: 0rem;
    }

    .date p {
        height: 1rem;
        text-align: right;
        padding-top: 0;
        margin: 0;
    }
}

.CodeMirror {
    width: 100%;
    height: 100%;
}

.dynamic-textarea {
    position: relative;

    textarea {
        resize: none;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        padding: 0.625rem 0.3125rem;
    }

    textarea.dummy {
        position: absolute;
        visibility: hidden;
        overflow-y: scroll;
        height: 0;
        top: 0;
        left: 0;
    }

    textarea.dummy[rows] {
        height: auto;
        overflow: hidden;
    }
}

.dot {
    height: 0.625rem;
    width: 0.625rem;
    border-radius: 50%;
    display: inline-block;
    margin-left: 0.3125rem;
}

.plus-item {
    position: sticky;
    opacity: 0.15;
    color: $primary;
    cursor: pointer;
    bottom: 0rem;;
    left: 100%;
    width: 1em !important;
    height: 1em !important;
    padding: 0 !important;
    border-radius: 50%;
}

.crone:hover {
    filter: brightness(80%);
}

:hover > .plus-item {
    opacity: 1;
    background: white;
}

.object > .object {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    & > h3 {
        width: 100%;
    }
}

.padding {
    padding: 0 1.875rem;
}

#editor {
    width: 100%;
    height: 100%;
}

#Import {
    height: auto;
    flex-grow: 0;
    textarea {
        width: 100%;
        max-width: 37.5rem;
        margin: auto;
        display: block;
        margin-bottom: 1rem;
    }
}

.log {
    padding: 0.3125rem 0;

    .category {
        font-weight: bold;
    }

    .message {
        padding: 0 1.25rem;
        word-break: break-all;
    }
}
