@import 'variables';
@import 'reset';
@import 'font-awesome/fontawesome';
@import "font-awesome/solid";
@import "font-awesome/regular";
@import 'fonts';
@import 'inputs';
@import 'helpers';
@import 'TextBuilder';
@import 'components/select';
@import 'components/templates';

#root {
    display: flex;
    overflow: hidden;
}

#menu {
    position: relative;
    width: 11em;
    border-right: 1px solid $grey;
    #logo {
        padding: 10px 0 20px;
    }
    li > * {
        padding: 5px 20px;
    }
}
.logo {
    margin: auto;
    display: block;
}
.Block {
    overflow: auto;
    width: 100%;
    padding-top: 10px;
    border-right: 1px solid $grey;
    &:last-of-type {
        border-right: none;
    }
}
.content {
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

.row {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.complaintSummary {
    background-color: var(--primaryBackgroundColor);
    padding:  0.5em 30px 1em 30px;
    color: $black;
    &:hover {
        background-color: $lightgrey;
    }
    p {
        height: 2.3em;
        overflow: hidden;
        clear: both;
        padding-top: 0;
        text-align: justify;
    }
    .title{
        margin: 0em;
        width: 80%;
        float: left;
    }
    h3 {
        margin: 0px;
    }
    .date {
        float: left;
        width: 20%;
        margin: 0em;
    }
    .date p {
        height: 1em;
        text-align: right;
        padding-top: 0;
        margin: 0;
    }
}

.CodeMirror {
    width: 100%;
    height: 100%;
}

.pagination {
    display: block;
    margin: auto;
    span.count {
        cursor: pointer;
        &.current {
            color: $secondary;
        }
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 10px;
        display: inline-flex;
        li {
            border: 1px solid $secondary;
            padding: 5px 10px;
            cursor: pointer;
            &.current {
                color: $white;
                background-color: $secondary;
                cursor: initial;
            }
            &.disabled {
                color: $grey;
                cursor: initial;
            }
        }
    }
}

.tabbed {
    position: relative;
    display: grid;
    grid-row-gap: -1px;
    grid-template-columns: auto;
    grid-template-rows: 2em 1fr;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    background-color: inherit;
    & > .tab {
        grid-row: 1 / 2;
        margin: 0em;
        cursor: pointer;
        white-space: nowrap;
        text-align: center;
    }
    & > .tab.active, & > .tab:hover {
        background-color: var(--primaryBackgroundColor);
    }
    & > .tab.active + [label] {
        display: block;
    }
    & > [label] {
        grid-column-start: 1;
        grid-column-end: var(--tabCount);
        grid-row: 2 / 3;
        background-color: var(--primaryBackgroundColor);
        padding: 1.3em var(--contentMargin) 0em var(--contentMargin);
        overflow: auto;
        display: none;
    }
}


.Filter {
    min-height: fit-content;

    .Block {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        margin: 10px 15px;

    }
    Select.relation {
        background-color: $primary;
        color: white;
    }
    input, select, option {
        color: black;
    }
    .remove {
        &::after {
            display: block;
            content: 'X';
        }
    }
    .relation > .remove {
        position: absolute;
        top: -5px;
        right: -5px;
    }
    .clause {
        flex-wrap: nowrap;
    }
    .sort,.relation {
        flex-direction: column;
    }
}

.collapsible {
    position: relative;
    overflow: hidden;
    .handle {
        position: relative;
        display: block;
        line-height: 15px;
        width: 100%;
        height: 40px;
        cursor: pointer;
        color: $black;
        font-size: 15px;
        //padding: 10px 0;
        z-index: 1;
        &::before {
            position: relative;
            display: block;
            content: '';
            top: 7px;
            border-top: 1px solid $grey;
        }
        i {
            position: relative;
            padding: 0 5px 0 10px;
            margin-left: 10px;
            background-color: $white;
        }
        span {
            position: relative;
            padding-right: 10px;
            background-color: $white;
        }
    }
    &[data-collapse=true] {
        min-height: 30px !important;
        max-height: 30px !important;
        &+* {
            display: none;
        }
    }
}

.responsive-table {
    width: calc(100% + 30px);
    height: 100%;
    overflow: auto;
    padding-right: 30px;
    table {
        min-width: 100%;
        border-collapse: collapse;
    }
    tr:hover {
        background-color: $lightgrey;
    }
    th {
        background-color: $white;
        position: sticky;
        top: 0px;
        text-align: right;
    }
    td {
        text-align: right;
    }
}

.padding {
    padding: 0 30px;
}
#editor {
    width: 100%;
    height: 100%;
}

#Import {
    textarea {
        width: 100%;
        max-width: 600px;
        margin: auto;
        display: block;
        margin-bottom: 1em;
    }
}
